* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  /*background-image: url(/images/fondo.jpg);
    background-size: cover;*/
}

a {
  text-decoration: none;
  color: white;
  font-family: "Futura Bold";
}

a:hover {
  -webkit-text-decoration: underline #c70707;
          text-decoration: underline #c70707;
}

ul {
  list-style-type: none;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav {
  padding: 0.2rem;
  overflow: hidden;
  background-image: url(../images/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  display: block;
  padding: 1rem 0;
  width: 120px;
  height: 120px;
  margin: auto;
}

.nav .nav-logo {
  padding: 50px;
}

.nav .nav-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.nav .nav-list .nav-links {
  padding: 20px 80px;
  margin-top: 80px;
  font-size: 30px;
}

input[type=text] {
  font-family: "Futura Bold";
  color: white;
  width: 100%;
  height: 62px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #c70707;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  background-position: 230px 6px;
  padding: 12px 20px 12px 40px;
  margin-top: 95px;
}

input[type=email] {
  font-family: "Futura Bold";
  text-align: center;
  color: white;
  width: 600px;
  height: 62px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #c70707;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  padding: 12px 20px 12px 40px;
  margin-top: 20px;
  margin-right: 20px;
}

.first-banner {
  position: absolute;
  margin-left: 50%;
  margin-top: 0px;
  width: 900px;
}

main .site-title {
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../images/2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 20%;
}

main .first-container {
  text-align: left;
  margin-top: 10%;
  margin-left: 10%;
}

.description {
  color: white;
  font-family: "Futura Book";
  font-size: 37px;
}

h1 {
  color: #db0000;
  font-family: "Futura ExtraBlack";
  font-size: 40px;
}

.btn1 {
  background-color: rgba(255, 255, 255, 0);
  color: #db0000;
  border-color: #db0000;
  padding: 20px;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: "Futura Book";
  margin: 4px 2px;
  cursor: pointer;
}

.btn2 {
  background-color: white;
  color: #000000;
  border: none;
  padding: 20px 60px;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-family: "Futura Heavy";
  margin: 4px 2px;
  cursor: pointer;
}

.btn3 {
  background-color: #ce1206;
  color: white;
  border: none;
  padding: 20px 60px;
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  font-family: "Futura Heavy";
  margin: 4px 2px;
  cursor: pointer;
}

.splatoon-title {
  width: 600px;
  height: 300px;
  margin-top: 0px;
  margin-left: -60px;
}

.best-seller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-image: url("../images/3.jpg");
  padding-top: 1.5%;
  height: 100%;
  padding-bottom: 16%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.second-container {
  margin-left: 10%;
  width: 680px;
}

h2 {
  font-family: "Futura Heavy";
  color: white;
  font-size: 40px;
}

h3 {
  font-family: "Futura ExtraBlack";
  color: #2f2f2f;
  font-size: 60px;
  padding: 50px;
}

.slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100%)[3];
      grid-template-columns: repeat(3, 100%);
}

.slider section {
  position: relative;
  width: 100%;
}

.slider section a {
  position: absolute;
  color: #2f2f2f;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.slider section a:nth-of-type(1) {
  top: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.slider section a:nth-of-type(2) {
  top: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.slider section:nth-child(1) {
  background: #918787;
}

.slider section:nth-child(2) {
  background: #4e1414;
}

.slider section:nth-child(3) {
  background: #c70707;
}

.slogan {
  margin: 100px;
  margin-top: 800px;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.switch {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin-top: -60px;
  margin-left: 20px;
}

.switch-container {
  width: 1200px;
}

.systems {
  text-align: left;
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h4 {
  font-family: "Futura HeaveItalic";
  color: white;
  font-size: 40px;
}

h5 {
  font-family: "Futura Bold";
  color: #cc3028;
  font-size: 50px;
}

.systems-description {
  width: 820px;
  margin-left: 80px;
}

.play {
  height: 600px;
}

.interaction {
  width: 100%;
  margin-top: 200px;
  margin-left: 150px;
}

.cart {
  margin-top: 750px;
  margin-left: 1350px;
}

.tabla {
  margin-top: 33%;
  margin-left: 10%;
}

.table {
  font-family: "Futura HeaveItalic";
  color: white;
  margin-left: 10%;
  text-align: center;
  font-size: 40px;
}

td {
  border: 1px solid white;
  width: 500px;
  height: 100px;
}

th {
  border: 1px solid white;
  width: 900px;
  text-align: left;
}

.sectionVideo {
  margin-top: 15%;
  justify-items: center;
}

.video {
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
}

.logo-footer {
  width: 800px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer-content {
  width: 100%;
}

.footer-title {
  font-size: 22px;
  margin-left: 180px;
}

.footer-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-terms {
  width: auto;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  color: white;
  font-family: "Futura HeaveItalic";
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.social-icons {
  cursor: pointer;
  padding-left: 60px;
}

@font-face {
  font-family: Futura Bold;
  src: url("../fonts/Futura Bold Italic font.ttf");
}

@font-face {
  font-family: Futura Book;
  src: url("../fonts/Futura Book font.ttf");
}

@font-face {
  font-family: Futura ExtraBlack;
  src: url("../fonts/Futura Extra Black font.ttf");
}

@font-face {
  font-family: Futura Heavy;
  src: url("../fonts/Futura Heavy font.ttf");
}

@font-face {
  font-family: Futura HeaveItalic;
  src: url("../fonts/Futura Heavy Italic font.ttf");
}
/*# sourceMappingURL=main.css.map */